site_name: Computer Vision Toolkit Docs


nav:
    - Home:
        - Overview: index.md
    - Tutorials: tutorials.md
    - How-To Guides: how_to_guides.md
    - API Reference: 
        - Common: 
            - Camera: api/common_camera.md
            - Input/Output: api/common_io.md
            - Utility: api/common_util.md
        - Datasets:
            - DTU: api/datasets_dtu.md
            - Tanks \& Temples: api/datasets_tanks.md
            - BlendedMVS: api/datasets_blended.md
        - Geometry:
            - 2D Geometry: api/geometry_g2d.md
            - 3D Geometry: api/geometry_g3d.md
        - Metrics:
            - 2D Metrics: api/metrics_m2d.md
            - 3D Metrics: api/metrics_m3d.md
            - Utilities: api/metrics_util.md
        - Visualization:
            - Latex: api/visualization_latex.md
            - Utilities: api/visualization_util.md
            - Video: api/visualization_video.md
    - Explanation: explanation.md
    - Development:
        - Contributing: contrib.md
        - Code of Conduct: conduct.md

theme:
    name: "material"
    features:
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.top
    palette:
      - media: "(prefers-color-scheme: light)"
        scheme: default
        primary: black
        accent: teal
        toggle:
            icon: material/lightbulb-outline
            name: Switch to dark mode

      - media: "(prefers-color-scheme: dark)"
        scheme: slate
        primary: black
        accent: teal
        toggle:
            icon: material/lightbulb
            name: Switch to light mode

markdown_extensions:
    - admonition
    - attr_list
    - footnotes
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg

repo_name: nbugdorfer/vision_toolkit
repo_url: https://github.com/nburgdorfer/vision_toolkit

plugins:
    - mkdocstrings:
